<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header><%= link_to 'KLEI ENTERTAINMENT STORE', products_path %></header>

<main>

  <div class="button_bar">
    <%= link_to 'Home', products_path, class: "button" %>
    <%= link_to 'Add Product', new_product_path, class: "button" %>
    <% if current_user %>
      <span class="button">ACCOUNT: <%= current_user.email %></span>
      <span class="button"><%= link_to "Log out", session_path("current"), :method => :delete %></span>
    <% else %>
      <%= link_to 'Login', new_session_path, class: "button" %>
      <%= link_to 'Sign Up', new_user_path, class: "button" %>
    <% end %>
  </div>
<hr>


  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p><br />
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p><br />
  <% end %>

  <%= yield %>
</main>

<footer>
  &copy; KLEI ENTERTAINMENT
</footer>

</body>
</html>
